<p class="lead">Hello there <%= @resource.fullname %></p>
<p>Someone requested to retrieve the password on <%= link_to Setting.app_name, root_url %> with the account number <span class="text-danger"><%= @resource.login %></span>, if You are, then you can enter the website through the link below to change your password. </p>
<p><%= link_to "Modify my password", edit_password_url(@resource, reset_password_token: @token), class:'btn' %></p>
<p>If you cannot see the connection, please copy the following connection and open it in your browser:</p>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
<p class="text-muted">If you have not applied, you can ignore this email and your account will not be affected. </p>
